/* CARD */

.card__container {
  background-color: #1a1b21;
  border-radius: 10px;
  overflow: hidden; /* This prevents the image from overflowing the rounded corners */
  max-width: 317px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}
